
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card factory Soreto terms and conditions</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
</head>
<body>
Card factory Referral Program Terms and Conditions
<p>
Discount voucher is only valid at cardfactory.co.uk and is not valid in stores. All offer codes are applied to the value of the order and are subject to our general terms and conditions. The offer code FRIEND20 must be entered in the Voucher Code field on the basket page and applied in order for the discount to be deducted from the order. The voucher code entitles you to 20% off personalised cards and gifts, excluding delivery costs. Only one redemption per person. Discount cannot be combined and only one offer can be applied to any single order. Offers can be amended or withdrawn at any time and at the sole discretion of Card Factory.
</p>
</body>
</html>