<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case Luggage Soreto terms and conditions</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
</head>
<body>
Case Luggage Referral Program Terms and Conditions
<ul>
    <li>The prize draw is open to people aged 18 and over who place an order at caseluggage.com</li>
    <li>Each unique order counts as one entry into the competition</li>
    <li>Competition ends on 31/09/2019</li>
    <li>Winner will receive a Ted Baker, Take Flight Cabin Suitcase (worth £225).</li>
    <li>The prize will be sent to the winner by DPD.</li>
    <li>The prize is non-exchangeable, non-transferable, and is not redeemable for cash or other prizes.</li>
    <li>Case Luggage retains the right to substitute the prize with another prize of similar value in the event the original prize offered is not available.</li>
    <li>The winner may be required to take part in promotional activity related to the Prize Draw and the winner shall participate in such activity at Case Luggage reasonable request.  The winner consents to the use by Case Luggage and its related companies, both before and after the closing date of the Prize Draw for an unlimited time, of the winner's voice, image, photograph and name for publicity purposes (in any medium, including still photographs and films, and on the internet, including any websites hosted by Case Luggage and its related companies) and in advertising, marketing or promotional material without additional compensation or prior notice and, in entering the Prize Draw, all entrants consent to the same.</li>
    <li>One winner will be chosen from a random draw of entries received in accordance with these Terms and Conditions.  The draw will be performed by a random computer process.</li>
    
</ul>
</body>
</html>
