<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NCP Soreto terms and conditions</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.css'>
</head>
<body>
<h1>Soreto terms and conditions</h1>


<h3>Referring Customer T&C’s</h3>

<ul>
	<li>Referring customer applies to the customer recommending a friend in order to receive a £5 Amazon voucher.</li>
	<li>£5 Amazon voucher can only be redeemed by the referring customer when the referred customer completes a booking. </li>
</ul>

<h3>Referred Customer T&C’s</h3>
<ul>
	<li>Referred customer applies to the customer who has been recommended by a friend in order to receive a one-time 5% off when they pre-book parking with NCP</li>
	<li>Only one entry and one exit is permitted.</li>
	<li>Limited offer and subject to availability.</li>
	<li>Booking is fully refundable, cancellable and amendable, up to 2 hours before the booking start time - except for Non-Flexible products.</li>
	<li>The code cannot be used in conjunction with a fixed rate product or any other offer including: Saver Deals, Super Saver, London Saver, Manchester Saver, Event Parking, Premium Event Parking, Weekend Special, Winter Special, Norwich Executive Lounge.</li>
	<li>The following products are included: Flex Plus, Advantage Flex Plus and Premium and Premium Fast Track. </li>
	<li>This offer applies to new bookings only and cannot be applied retrospectively to existing booking.</li>
	<li>Offer excludes third party airports.</li>
	<li>The offer code is valid for entry dates from 29 January 2020 to 30 June 2020.</li>
	<li>The offer code applies to new bookings only made between 29 January 2020 and 30 June 2020.</li>
</ul>
</body>
</html>
